@charset "utf-8";

/***********************************************************
    GENERAL STYLES
***********************************************************/
* {
    box-sizing: border-box;
//     margin:0px auto;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

body {
    background: $bg-color;
    color: $font-color;
    font-type: $pop;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.row .m0 {
    margin: 0px;
}

.p0 {
    padding: 0px;
}


body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}


iframe {
    border: none;
}

i {
    &:before {
        margin-left: 0px !important;
    }
}

button {
    cursor: pointer;
}


a {
    -webkit-transition: all 0.3s !important;
    transition: all 0.3s !important;
    display: inline-block;
    text-decoration:none;
    &:hover, &:focus, &:visited, &:active, &:link {
        text-decoration:none;
        outline: none;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
        text-shadow: rgba(0,0,0,.01) 0 0 1px;
    }
}

::selection {
    background: #fde0db;
    color: #FF6347;
}

.btn-danger {
    background: #FF6347;
    -webkit-transition: all 0.3s !important;
    transition: all 0.3s !important;

    &:hover, &:focus {
        background: rgb(235, 35, 0);
    }
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.rounded-circle {
    -webkit-box-shadow: 0px 4px 13px -4px rgba(74,90,120,1);
    -moz-box-shadow: 0px 4px 13px -4px rgba(74,90,120,1);
    box-shadow: 0px 4px 13px -4px rgba(74,90,120,1);
}

.clearfix {
    *zoom: 1;

    &:before,
    &:after {
      content: ' ';
      display: table;
    }

    &:after {
      clear: both;
    }
}

.widget {
    margin-bottom: 40px;
    padding: 30px;
    border: 1px solid #eee;

    header {
        margin-bottom: 20px;
    }
}

.category {
    a {
        color: #999;
        letter-spacing: 0.08em;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;

        &::after {
            content: ',';
            color: #ddd;
            display: inline-block;
            margin-right: 5px;
        }

        &:last-of-type::after {
            display: none;
        }

        &:hover {
            color: #000;
        }
    }
}

i[class*="icon-"] {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}
