.login-box,
.register-box {
    margin-top: -5px !important;
}

.login-box .login-logo,
.register-box .register-logo {
    width: 65px;
    margin: 10px auto;
    text-align: center;
}

.login-box .login-logo a img,
.register-box .register-logo a img {
    border-radius: 25px;
}

.register-box {

}
