/** Tables */
.dataTables_length {
  display: inline;
  width: 250px;
  float: left;
}
.dataTables_filter {
  display: inline;
  width: 250px;
  float: right;
}
.dataTables_filter input {
  background-color: #e7e7e7;
  color: #1b1e21;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  padding: 5px;
  box-sizing: border-box;
}
.dataTables_info {
  display: inline;
  width: 350px;
  float: left;
}
