#about-section {
    background: url("/images/home.jpg") no-repeat;
    min-height: 400px;
    background-size: cover;
    background-attachment: fixed;

    .dark-overlay {
        background-color: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 400px;
    }

    .about-inner {
        padding-top: 200px;
        color: $white;
        opacity: .9;
    }
}
.aboutus-section {
    color: #030303;
    font-size: 16px;

    .fa {
        color: $black;
        background: $primary-color;
        padding: 4px;
        border-radius: 5px;
        font-size: $icon-size;
    }
    .about-img {
        display: block;
        background: url('/images/about-us.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        -webkit-box-shadow: 0px 25px 82px -31px rgba(0, 0, 0, 0.36);
        -moz-box-shadow: 0px 25px 82px -31px rgba(0, 0, 0, 0.36);
        box-shadow: 0px 25px 82px -31px rgba(0, 0, 0, 0.36);
    }
}

.actual-offer-section {
    font-size: 16px;
    color: $white;
    opacity: .9;

    .fa {
        color: $primary-color;
        background: #fff;
        padding: 4px;
        border-radius: 5px;
        font-size: $icon-size;
    }

    .offer-img {
        display: block;
        background: url('/images/offer-img.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 300px;
        padding: 20px;
        -webkit-box-shadow: 0px 25px 82px -31px rgba(0, 0, 0, 0.36);
        -moz-box-shadow: 0px 25px 82px -31px rgba(0, 0, 0, 0.36);
        box-shadow: 0px 25px 82px -31px rgba(0, 0, 0, 0.36);
    }
}

#vision-mission-section {
    color: $white;
    opacity: .9;
}