/****************************************************************
    NAVIGATION
****************************************************************/
.navbar-dark {
    background: #0c120c;
    height: 4rem;
    border-bottom: 3px solid $primary-color;

    a:hover {
        color: rgb(180, 180, 180);
    }

    .navbar-nav {
        color: $white;
        z-index: 9999;
        .nav-link {
            color: rgba($color: $white, $alpha: 0.5);
            padding: 0.5rem 1rem;
        }
        .dropdown-menu {
            color: #fff;
        }
    }
}
