/****************************************************************
    NAVIGATION
****************************************************************/
.navbar {
    height: 4rem;
    border-bottom: $primary-color;

    .navbar-nav {
        z-index: 9999;

        .dropdown-menu {
            color: #fff;
        }
    }
}

/****************************************************************
    NAV
****************************************************************/
.nav-link {
    padding: 0.5rem 1rem;
}

.nav-link .disabled {
    color: #868e96;
}
