/* Border Button Area css
============================================================================================ */
.read_btn{
    height: 46px;
    width: 160px;
    line-height: 48px;
    color: $dip;
    font-family: $pop;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%);
    text-align: center;
    position: relative;
    background-size: 200% auto;
    z-index: 2;
    display: block;
    transition: all 400ms ease-out;
    &:before{
        content: "";
        background: #f7f7f7;
        position: absolute;
        left: 2px;
        top: 2px;
        width: 98%;
        height: 42px;
        z-index: -1;
        @include transition;
    }
    &:hover{
        background-position: right center;
        color: $dip;
    }
}

.tp_btn{
    height: 46px;
    width: 165px;
    text-align: center;
    color: #fff;
    border-width: 2px;
    border-style: solid;
    border-image: -moz-linear-gradient( 180deg, rgb(32,212,151) 0%, rgb(116,79,255) 100%);
    border-image: -webkit-linear-gradient( 180deg, rgb(32,212,151) 0%, rgb(116,79,255) 100%);
    border-image: -ms-linear-gradient( 180deg, rgb(32,212,151) 0%, rgb(116,79,255) 100%);
    border-image-slice: 1;
    display: block;
    line-height: 42px;
    transition: all 400ms ease-out;
    font-size: 13px;
    font-family: $pop;
    font-weight: 600;
    position: relative;
    z-index: 3;
    margin: auto;
    &:after{
        content: "";
        height: 46px;
        width: 165px;
        position: absolute;
        left: -2px;
        top: -2px;
        border-width: 2px;
        border-style: solid;
        border-image: -moz-linear-gradient( 180deg, rgb(116,79,255) 0%, rgb(32,212,151) 100%);
        border-image: -webkit-linear-gradient( 180deg, rgb(116,79,255) 0%, rgb(32,212,151) 100%);
        border-image: -ms-linear-gradient( 180deg, rgb(116,79,255) 0%, rgb(32,212,151) 100%);
        border-image-slice: 1;
        transition: all 400ms ease-out;
        z-index: -1;
        opacity: 0;
    }
    &:hover{
        color: #fff;
        &:after{
            opacity: 1;
        }
    }
}
.bg_btn{
    font-size: 13px;
    text-transform: uppercase;
    font-family: $pop;
    font-weight: 600;
    color: #fff;
    text-align: center;
    width: 160px;
    height: 46px;
    line-height: 46px;
    background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%);
    transition: all 400ms ease-out !important;
    background-size: 200% auto;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    &:hover{
        background-position: right center;
        color: #fff;
    }
    &:focus{
        background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%) !important;
        transition: all 400ms ease-out !important;
        background-size: 200% auto;
    }
}

.more_btn{
    color: #2bc0a4;
    font-size: 14px;
    font-family: $pop;
    text-decoration: underline;
    line-height: 26px;
    @include transition;
    &:hover{
        text-decoration: none;
        color: #2bc0a4;
    }
}

.submit_btn{
    font-size: 13px;
    text-transform: uppercase;
    font-family: $pop;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 0px 10px;
    background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%);
    transition: all 400ms ease-out;
    background-size: 200% auto;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 3px;
    cursor: pointer;
    &:hover{
        background-position: right center;
        color: #fff;
    }
    &:focus{
        background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%) !important;
        transition: all 400ms ease-out;
        background-size: 200% auto;
    }
}

.submit_btn2{
    height: 46px;
    width: 165px;
    line-height: 46px;
    color: $dip;
    font-family: $pop;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%);
    text-align: center;
    position: relative;
    background-size: 200% auto;
    z-index: 2;
    display: block;
    transition: all 400ms ease-out;
    padding: 0px;
    border-radius: 2px;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
    &:before{
        content: "";
        background: #f7f7f7;
        position: absolute;
        left: 2px;
        top: 2px;
        width: 97.5%;
        height: 40px;
        z-index: -1;
        @include transition;
    }
    &:hover{
        background-position: right center;
        color: $dip;
    }
}

/* End Border Button Area css
============================================================================================ */

// /** Buttons */
// .pager {
//   padding: 20px 0;
//   margin-top: 20px;
//   border-top: 1px solid #e6e6e6;
// }

// .disabled a,
// .disabled a:hover {
//   border-color: #999 !important;
//   color: #999 !important;
//   background: none !important;
//   cursor: not-allowed;
// }

// .btn {
//   text-transform: uppercase;
//   letter-spacing: 0.1em;
// }

// .btn-template-main {
//   background: #4fbfa8;
//   border: 1px solid #4fbfa8 !important;
//   color: #fff !important;
//   border-radius: 0 !important;
//   text-decoration: none;
// }

// .btn-template-main:hover, .btn-template-main:focus {
//   background: #41b39c;
//   color: #fff !important;
//   border-color: #41b39c !important;
// }

// .btn-template-white {
//   background: #fff;
//   color: #4fbfa8 !important;
//   border: 1px solid #4fbfa8 !important;
//   border-radius: 0 !important;
//   text-decoration: none;
// }

// .btn-template-white:hover, .btn-template-white:focus {
//   background: #4fbfa8 !important;
//   color: #fff !important;
// }

// .btn-template-outlined {
//   background: none;
//   border: 1px solid #4fbfa8 !important;
//   color: #4fbfa8;
//   border-radius: 0 !important;
//   text-decoration: none;
// }

// .btn-template-outlined:hover, .btn-template-outlined:focus {
//   background: #4fbfa8;
//   color: #fff !important;
// }

// .btn-template-outlined-white {
//   background: none;
//   border: 1px solid #fff !important;
//   color: #fff;
//   border-radius: 0 !important;
//   text-decoration: none;
// }

// .btn-template-outlined-white:hover, .btn-template-outlined-white:focus {
//   background: #fff;
//   color: #4fbfa8 !important;
// }

// .btn-template-outlined-black {
//   background: none;
//   border: 1px solid #333 !important;
//   color: #333;
//   border-radius: 0 !important;
//   text-decoration: none;
// }

// .btn-template-outlined-black:hover, .btn-template-outlined-black:focus {
//   background: #333 !important;
//   color: #fff !important;
// }

// .features-buttons button {
//   margin-bottom: 20px;
// }

// .btn-custom{
//   color: aliceblue;
//   background-color: sandybrown;
// }

// .red_button
// {
//   display: -webkit-inline-box;
//   display: -moz-inline-box;
//   display: -ms-inline-flexbox;
//   display: -webkit-inline-flex;
//   display: inline-flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: auto;
//   height: 40px;
//   background: #fe4c50;
//   border-radius: 3px;
//   -webkit-transition: all 0.3s ease;
//   -moz-transition: all 0.3s ease;
//   -ms-transition: all 0.3s ease;
//   -o-transition: all 0.3s ease;
//   transition: all 0.3s ease;
// }
// .red_button:hover
// {
//   background: #FE7C7F !important;
// }
// .red_button a
// {
//   display: block;
//   color: #FFFFFF;
//   text-transform: uppercase;
//   font-size: 14px;
//   font-weight: 500;
//   text-align: center;
//   line-height: 40px;
//   width: 100%;
// }
// .shop_now_button
// {
//   width: 140px;
//   margin-top: 32px;
// }
